<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!--To inherit the global NuGet package sources remove the <clear/> line below -->
		<clear />
		<add key="nuget" value="https://api.nuget.org/v3/index.json" />

		<!--<add key="Common.DTO" value="..\commonlib-dto\src\Common.DTO\bin\Debug" />
	<add key="Common.Constants" value="..\commonlib-constants\src\Common.Constants\bin\Debug" />
	<add key="Common.Extensions" value="..\commonlib-extensions\src\Common.Extensions\bin\Debug" />
	<add key="Common.Middlewares" value="..\commonlib-middlewares\src\Common.Middlewares\bin\Debug" />-->

		<!--<add key="gitlab-commonlib-dto" value="https://gitlab-dgt.eni.com/api/v4/projects/1348/packages/nuget/index.json" />-->
	</packageSources>
	<packageSourceCredentials>
		<gitlab-commonlib-dto>
			<add key="Username" value="gitlab-deploy-token"/>
			<add key="ClearTextPassword" value="HzwDnFcXCsPF8fu2RJPH"/>
		</gitlab-commonlib-dto>
	</packageSourceCredentials>
</configuration>
